# Steam Reviews ETL Pipeline to Support Analytical Queries
### Data Engineering Capstone Project
#### Project Summary
This ETL pipeline aims to deliver several tables containing Steam game reviews and associated data,
to support the analysis of the reviews. Simple questions like 'which game has received the most reviews',
to more complex questions like 'is there a relationship between the number of games owned and number of reviews written'
can be answered by querying the tables provided.

In [2]:
# Do all imports and installs here
import os
import glob
import psycopg2
import pandas as pd
import json
from pandas.io.json import json_normalize
from sql_queries import *

#### Step 1: Scope the Project and Gather Data
Data to support the objective described above will be sourced from Kaggle;
https://www.kaggle.com/datasets/souyama/steam-reviews
https://www.kaggle.com/datasets/souyama/steam-dataset \
These datasets were extracted from two API's; Valve's Steam API and a third-party API 'Steam Spy'.
More information about the third-party API can be found here; https://steamspy.com/api.php

This pipeline will produce 3 tables; \
'reviews' will store the primary review text and various other review attributes (e.g. when the review was posted) \
'review_authors' will store data related to the authors of the reviews (e.g. how many reviews an author has left) \
'games' will store data related to the games being reviewed (e.g. name, publisher etc.)

The pipeline will leverage a combination of Python and PostgreSQL.
The tables described above will be created, CSV and JSON source files will be parsed and the output inserted into these tables.

In [4]:
# Reading in games table source
df_games = pd.read_csv('data/games/steam_spy_detailed.csv')
df_games.head()

,Unnamed: 0,appid,average_2weeks,average_forever,ccu,developer,discount,genre,initialprice,languages,...,median_forever,name,negative,owners,positive,price,publisher,score_rank,tags,userscore
0,570,570,1714,36947,597406,Valve,0.0,"Action, Free to Play, Strategy",0.0,"English, Bulgarian, Czech, Danish, Dutch, Finn...",...,971,Dota 2,292073,"100,000,000 .. 200,000,000",1457539,0.0,Valve,NaN,"{'Free to Play': 58393, 'MOBA': 19421, 'Multip...",0
1,730,730,862,28757,820998,"Valve, Hidden Path Entertainment",0.0,"Action, Free to Play",0.0,"English, Czech, Danish, Dutch, Finnish, French...",...,6475,Counter-Strike: Global Offensive,757108,"50,000,000 .. 100,000,000",5683636,0.0,Valve,NaN,"{'FPS': 87642, 'Shooter': 62951, 'Multiplayer'...",0
2,578080,578080,808,22351,363124,"KRAFTON, Inc.",0.0,"Action, Adventure, Free to Play, Massively Mul...",0.0,"English, Korean, Simplified Chinese, French, G...",...,7452,PUBG: BATTLEGROUNDS,888932,"50,000,000 .. 100,000,000",1140088,0.0,"KRAFTON, Inc.",NaN,"{'Survival': 13969, 'Shooter': 11785, 'Multipl...",0
3,1063730,1063730,227,6166,20317,Amazon Games,0.0,"Action, Adventure, Massively Multiplayer, RPG",3999.0,"English, French, Italian, German, Spanish - Sp...",...,2792,New World,73173,"50,000,000 .. 100,000,000",153855,3999.0,Amazon Games,NaN,"{'Massively Multiplayer': 569, 'Open World': 5...",0
4,440,440,1677,11986,80497,Valve,0.0,"Action, Free to Play",0.0,"English, Danish, Dutch, Finnish, French, Germa...",...,326,Team Fortress 2,56122,"50,000,000 .. 100,000,000",813449,0.0,Valve,NaN,"{'Free to Play': 61461, 'Hero Shooter': 60534,...",0

In [5]:
# Reading in reviews source

f = open('data/reviews/10/416F4A342B2B663375766F43633454673667493D.json')
js = json.load(f)
df_reviews = json_normalize(js['reviews'])
df_reviews.head()

,author.last_played,author.num_games_owned,author.num_reviews,author.playtime_at_review,author.playtime_forever,author.playtime_last_two_weeks,author.steamid,comment_count,language,received_for_free,recommendationid,review,steam_purchase,timestamp_created,timestamp_updated,voted_up,votes_funny,votes_up,weighted_vote_score,written_during_early_access
0,1640099962,3,1,496885,524312,0,76561198089309814,0,portuguese,False,95177398,Top,True,1625575865,1625575865,True,0,0,0,False
1,1656969480,20,11,224,1296,0,76561199064079959,0,turkish,False,95176054,harika,True,1625574451,1625574451,True,0,0,0,False
2,1656247139,45,6,207,780,0,76561198281778928,0,russian,False,95175928,"кс 1.6 как всегда шедевральна , более 2к+ часо...",True,1625574328,1625574328,True,0,0,0,False
3,1658084715,19,1,65288,98146,0,76561199046178038,0,spanish,False,95175726,que buen juego de fulbo,True,1625574116,1625574116,True,0,0,0,False
4,1656334967,3,1,6459,17151,0,76561199169692783,0,russian,False,95174780,"Хорошая игра, всем советую",True,1625573110,1625573110,True,0,0,0,False

### Step 2: Explore and Assess the Data

In [8]:
# checking column names
df_games.columns

Index(['Unnamed: 0', 'appid', 'average_2weeks', 'average_forever', 'ccu',
       'developer', 'discount', 'genre', 'initialprice', 'languages',
       'median_2weeks', 'median_forever', 'name', 'negative', 'owners',
       'positive', 'price', 'publisher', 'score_rank', 'tags', 'userscore'],
      dtype='object')

In [9]:
df_reviews.columns

Index(['author.last_played', 'author.num_games_owned', 'author.num_reviews',
       'author.playtime_at_review', 'author.playtime_forever',
       'author.playtime_last_two_weeks', 'author.steamid', 'comment_count',
       'language', 'received_for_free', 'recommendationid', 'review',
       'steam_purchase', 'timestamp_created', 'timestamp_updated', 'voted_up',
       'votes_funny', 'votes_up', 'weighted_vote_score',
       'written_during_early_access'],
      dtype='object')

In [10]:
# checking rows and number of columns
df_games.shape

(52036, 21)

In [11]:
# will be limited to one file only
df_reviews.shape

(100, 20)

In [12]:
# checking dataframe info
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52036 entries, 0 to 52035
Data columns (total 21 columns):
Unnamed: 0         52036 non-null int64
appid              52036 non-null int64
average_2weeks     52036 non-null int64
average_forever    52036 non-null int64
ccu                52036 non-null int64
developer          51818 non-null object
discount           52014 non-null float64
genre              51763 non-null object
initialprice       52014 non-null float64
languages          51951 non-null object
median_2weeks      52036 non-null int64
median_forever     52036 non-null int64
name               52024 non-null object
negative           52036 non-null int64
owners             52036 non-null object
positive           52036 non-null int64
price              52007 non-null float64
publisher          51890 non-null object
score_rank         43 non-null float64
tags               52036 non-null object
userscore          52036 non-null int64
dtypes: float64(4), int64(10), object(7)
memory usage: 8.3+ MB

In [13]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 20 columns):
author.last_played                100 non-null int64
author.num_games_owned            100 non-null int64
author.num_reviews                100 non-null int64
author.playtime_at_review         100 non-null int64
author.playtime_forever           100 non-null int64
author.playtime_last_two_weeks    100 non-null int64
author.steamid                    100 non-null object
comment_count                     100 non-null int64
language                          100 non-null object
received_for_free                 100 non-null bool
recommendationid                  100 non-null object
review                            100 non-null object
steam_purchase                    100 non-null bool
timestamp_created                 100 non-null int64
timestamp_updated                 100 non-null int64
voted_up                          100 non-null bool
votes_funny                       100 non-null int64
votes_up                          100 non-null int64
weighted_vote_score               100 non-null object
written_during_early_access       100 non-null bool
dtypes: bool(4), int64(11), object(5)
memory usage: 13.0+ KB

In [14]:
# check for impossible values
df_reviews['author.num_games_owned'].sort_values()
# no reviewers own 0 games

0       3
4       3
25      3
81      4
96      4
68      5
30      5
38      5
77      5
84      6
17      6
93      6
92      7
21      7
73      7
87      7
69      8
57      8
28      8
56     10
5      10
98     12
58     13
74     14
86     15
47     15
51     15
72     16
22     16
97     17
     ...
34     49
18     51
67     52
85     52
89     54
80     56
13     56
75     58
99     63
48     64
88     64
15     65
90     70
61     72
40     73
35     79
10     86
76     93
70    103
52    105
62    128
11    134
49    146
66    160
32    167
55    182
50    340
53    428
59    440
29    608
Name: author.num_games_owned, Length: 100, dtype: int64

In [18]:
# checking for nulls
df_games.isnull().any(axis=0)
# there are columns with null values, most of these won't be included in pipeline
# name, developer and languages columns shall be cleaned to remove nulls

Unnamed: 0         False
appid              False
average_2weeks     False
average_forever    False
ccu                False
developer           True
discount            True
genre               True
initialprice        True
languages           True
median_2weeks      False
median_forever     False
name                True
negative           False
owners             False
positive           False
price               True
publisher           True
score_rank          True
tags               False
userscore          False
dtype: bool

In [25]:
df_games.dropna(subset=['name', 'developer', 'languages'], inplace=True)
df_games.isnull().any(axis=0)

Unnamed: 0         False
appid              False
average_2weeks     False
average_forever    False
ccu                False
developer          False
discount           False
genre               True
initialprice       False
languages          False
median_2weeks      False
median_forever     False
name               False
negative           False
owners             False
positive           False
price              False
publisher           True
score_rank          True
tags               False
userscore          False
dtype: bool

In [17]:
df_reviews.isnull().any(axis=0)
# reviews data subset appears to be free of nulls

author.last_played                False
author.num_games_owned            False
author.num_reviews                False
author.playtime_at_review         False
author.playtime_forever           False
author.playtime_last_two_weeks    False
author.steamid                    False
comment_count                     False
language                          False
received_for_free                 False
recommendationid                  False
review                            False
steam_purchase                    False
timestamp_created                 False
timestamp_updated                 False
voted_up                          False
votes_funny                       False
votes_up                          False
weighted_vote_score               False
written_during_early_access       False
dtype: bool

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
I have defined 3 tables to support this model, see ERD diagram 'Capstone ERD.png'

This model will allow many analytical queries to be executed, with or without joining the tables together.
The total number of rows being in excess of 1 million may seem like a lot, but I do not believe this volume
justifies the use of any 'big data' tools. Python and specifically a Postgres DB is perfectly capable of processing
this record volume, as will be evidenced below by the data quality checks, which execute fairly quickly.

#### 3.2 Mapping Out Data Pipelines
Below the steps within this pipeline;\
    - A DB with tables as defined above is created\
    - Game data CSV file is loaded and a dataframe is created with columns of interest\
    - Reviews data JSON files are loaded into two dataframes (one per target table) with columns of interest\
    - A function iterates through all reviews JSON files, as there are many\
    - Finally, dataframes are inserted into previously created tables on the DB

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Please view and execute the following files to create the model;\
    - create_tables.py\
    - etl.py\
Note that etl.py may return a 'SettingWithCopyWarning' warning, due to the inline use of dropna

#### 4.2 Data Quality Checks
Each table has a primary key, that will prevent duplicates from being stored (see sql_queries.py)\
Data types have been selected based on the nature of the data being stored (numerical values stored in columns with integer datatype for example)\
Not null constraints have been added where relevant to ensure referential integrity.

In [ ]:
# note these queries will only run after executing create_tables.py and etl.py
%load_ext sql
%sql postgresql://student:student@127.0.0.1/steam_reviews

# check primary key
%sql SELECT a.attname, format_type(a.atttypid, a.atttypmod) AS data_type, a.attnotnull, i.indisprimary \
FROM   pg_index i \
JOIN   pg_attribute a ON a.attrelid = i.indrelid \
                     AND a.attnum = ANY(i.indkey) \
WHERE  i.indrelid IN ('{games}'::regclass, '{reviews}'::regclass, '{review_authors}'::regclass)
  AND  i.indisprimary = TRUE

In [ ]:
# check not null constraints
%sql SELECT table_name, column_name, is_nullable, data_type FROM information_schema.columns WHERE is_nullable = TRUE

In [ ]:
# sense check integer data types
# expecting; positive_review_count, negative_review_count, x_playtime columns etc.
%sql SELECT table_name, column_name, is_nullable, data_type FROM information_schema.columns WHERE data_type = 'integer'

#### 4.3 Data dictionary
Please see Capstone ERD.png

### Step 5: Complete Project Write Up
In a production environment, new review data would be appended to the tables. Depending on the resources available to the company, as often as every hour. This is due to the volume of new reviews that are being written or submitted at any point in time. If the company is ingesting this data in any analytical models or just general reporting, it stands to reason that users would want to know the data latency is not high.\
The games data is more likely to be static, as new games aren't released onto the Steam service every minute or every hour, this data could likely be updated or new records appended to the table once or twice a day.

#### If the data was increased by 100x
Postgres as a technology is perfectly capable of processing millions of rows of data into a relational database model. However, as the data volume grows beyond 100m rows, executing SQL queries against such a large dataset would likely be non-performant (queries take very long to return data). In this circumstance, a company should investigate distributed data services like Amazon Redshift, which was designed with these high data volumes in mind.

#### The data populates a dashboard that must be updated on a daily basis by 7am every day.
To facilitate rendering and displaying visualizations on a dashboard, a company would need to invest in a BI tool. There are many available; Looker, PowerBI, Tableau etc.\
Most of these tools have schedulers that can extract and store data from the warehouse/DB on a schedule, or establish live connections to the warehouse (although that may have adverse performance implications).
To append new data and update existing records on the database, there are also many tools available; Stitch, Fivetran etc.\
These tools can be configured to connect to the source and bring in new/updated records on a defined schedule.

#### The database needed to be accessed by 100+ people.
A typical Postgres database could support providing access to 100+ people, assuming the database was adequately resourced. Depending on what these database users are doing however, it may prove more efficient to adopt a distributed service like Redshift here too. If at any point in time only 20 of these users are accessing the DB for example, this should not introduce much strain. However, if these 100+ users are simultaneously executing SQL queries against the DB, Redshift may indeed be a more appropriate technology.